
.hero__section{
    
    margin-top: 5%;
    padding: 5%;
}
.her__content {
    color:#07213b;
    text-align: center;
    
    
}
.her__content h2,h5{
    padding: 5px;
    font-size: 52px;
}
.her__btn button{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    border-radius: 20px;
    margin-top: 10px;
}
.her__btn button a{
    color: #fff;
    text-decoration: none;
    
}
.her__btn button:hover{
    background-color: #000;
}
.her__content h2{
    font-weight: 700;
}

.hero_heding{
    background: -webkit-linear-gradient(#f503d4, rgb(239, 236, 49));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}